<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    /* Custom CSS styles for the footer */
    footer {
        /* Set the position to fixed */
        bottom: 0;
        /* Position at the bottom of the viewport */
        width: 100%;
        /* Full width */
        background-color: skyblue;
        /* Dark background color */
        color: white;
        /* Text color */
        padding: 10px 0;
        /* Padding for content inside the footer */
        border-radius: 2px;
        /* Rounded corners */
    }

    footer p {
        margin-bottom: 0;
        /* Remove bottom margin for paragraph */
    }
</style>

<footer class="footer py-1">
    <div class="container">
        <p class="mb-0 text-center">&copy; <span id="currentYear"></span> Clinic Soft Cmp. All rights reserved <a>(Team
                1)</a></p>
    </div>
</footer>