<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">{{spanText}}</span>
            <h1 class="text-capitalize  text-lg">{{headerText}}</h1>
            <div class="text-center" *ngIf="image"><img src=".\assets\Icons\{{image}}" alt="no" class="img-fluid" width="55px" height="55px"></div>
          </div>
        </div>
      </div>
    </div>
</section>